@use '../../components/buttons' as button;

.cards {
    background-color: var(--color-light);
    height: 100vh;
    // display: grid;
    // padding: 32px;
    color: var(--color-light);

    &__header {
        background-color: #878684;

    }

    &__title {
        font-size:clamp( var(--font-size-2), 5vw,  var(--font-size-4));
        margin: 0;
    }
    
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--gap-l);
        margin-top: 80px;
    }

    &__inner {
        background-color: #878684;
        padding: var(--gap-xl);
        margin: 0 32px 0 32px;
    }


    &__button {
        @include button.default($icon-opacity: 0.34);
    }

}

.card {

    &__image {
        aspect-ratio: 1/1;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0,0,0,0.5);

    }

    &__title {
        position: absolute;
        color: var(--color-light);
        font-size: var(--font-size-7);
        left: 50%;
        top: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        
    }

    &__content {
        font-family: var(--font-sans);
        font-size: var(--font-size-2);
        margin-top: var(--gap-m);
        margin-left: var(--gap-s);

    }

    &__button {
        @include button.default($icon-opacity: 0.34);
        margin-top: var(--gap-m);
        margin-left: var(--gap-s);

        svg {
            height: var(--gap-m);
            width: var(--gap-m);
            transition: all 0.2s;
        }

        &:hover {
            svg {
                opacity: 1;
                transform: rotate(90deg);

            }
        }
    }
}

